.square {
    border: 1px solid #999;
    font-size: 5rem;
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-row {
    display: flex;
}

.title {
    font-size: 5rem;
    text-align: center;
}

.winner {
    width: 300px;
    height: 300px;
    font-size: 5rem;
    background: cadetblue;
}

.start_btn {
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

.rules {
    position: absolute;
    top: 10%;
    right: 10%;
}

.rules_text {
    font-size: 1rem;
}

.alert_msg {
    font-size: 2rem;
}

#Popover1 {
    padding: 20px 25px;
}

.moves {
    position: absolute;
    top: 10%;
    left: 10%;
}

.moves_num {

}

.time {
    position: absolute;
    top: 15%;
    left: 10%;
}

.alert,
.alert_msg {
    animation-name: example;
    animation-duration: 0.5s;
}

@keyframes example {
    0%   {
        width: 300px;
    }
    25% {
        width: 350px;
    }
    50%  {
        width: 400px;
    }
    75% {
        width: 450px;
    }
    100% {
        width: 100%;
    }
}

.game_music {
    position: absolute;
    left: 10%;
    top: 30%;
}

.footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: Neucha, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    justify-content: space-between;
}

.footer p {
    margin-right: 10px;
    margin-bottom: 0;;
}
